/*

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- SPACE SYSTEM
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

$color-primary: #5ec576;
$color-secondary: #ffcb03;
$color-tertiary: #ff585f;

$color-primary-darker: #4bbb7d;
$color-secondary-darker: #ffbb00;
$color-tertiary-darker: #fd424b;

$color-primary-opacity: #5ec5763a;
$color-secondary-opacity: #ffcd0331;
$color-tertiary-opacity: #ff58602d;

$color-white-1: #f3f3f3;

$color-grey-dark-1: #333;
$color-grey-dark-2: #555;

$gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
$gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
