.btn--text {
  &,
  &:link,
  &:visited {
    border: none;
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    color: $color-primary;

    border-bottom: 1px solid $color-primary;
    // background-color: black;

    backface-visibility: visible;
    transition: all 0.4s;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
  }

  &:hover,
  &:active {
    // border-bottom: 2px solid $color-primary;

    background-color: $color-primary-darker;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}

.btn {
  border: none;
  border-radius: 10rem;
  padding: 1.6rem 4.8rem;
  background-color: $color-primary;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;

  span {
    font-weight: 600;
  }

  &--show-modal {
    background-color: $color-primary;
    font-size: 2.4rem;
    padding: 2rem 5rem;
    font-weight: 500;

    &:hover,
    &:active {
      background-color: $color-primary-darker;
    }
  }

  &--modal {
    grid-column: 2 / -1;
    justify-self: start;
    transform: translateX(-25%);
  }

  &--close-modal {
    position: absolute;
    top: 2.5%;
    right: 2.5%;

    border: none;
    color: inherit;
    // padding: 4px;
    font-size: 3rem;
  }
}

.slider__btn {
  position: absolute;
  width: 6.2rem;
  height: 6.2rem;

  border: none;
  background-color: #fff;
  // background-color: aqua;
  border-radius: 50%;

  transform: translateY(-50%);

  z-index: 10000;

  cursor: pointer;

  &--left {
    top: 50%;
    left: 0;

    // transform: translateY(-50%) translateX(-10%);
  }

  &--right {
    top: 50%;
    right: 0;

    // transform: translateY(-50%) translateX(10%);
  }
}

.dots {
  display: flex;
  gap: 1.2rem;
  position: absolute;

  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);

  &__dot {
    width: 1rem;
    height: 1rem;
    // background-color: blue;
    border: none;
    border-radius: 50%;

    background-color: #b9b9b9;

    cursor: pointer;
    &--active {
      background-color: #888;
    }
  }
}
