.features {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2.4rem;

  padding: 3.2rem 4.8rem;

  &__feature {
    width: 75%;
    justify-self: center;
    align-self: center;
  }

  &__img {
    width: 100%;
  }

  &__icon {
    width: 4.8rem;
    height: 4.8rem;
    background-color: $color-primary;
    border-radius: 50%;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 500;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 300;
  }
}

.lazy-img {
  filter: blur(24px);
}
