.section {
  padding: 12rem 0;
  border-top: 1px solid #ddd;

  transition: all 1s;

  &-title {
    margin: 8rem auto;
    max-width: 90rem;
  }

  &__title {
    margin: 0rem auto;
    max-width: 90rem;
  }

  &__header {
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 1.2;
  }

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}

.cookie-message {
  // position: absolute;
  // top: 0;
  // left: 0;
  // max-width: 10rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  background-color: #fff;
}
